{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  
 {{ form_start(form) }}
 {{ form_row(form.nom) }} 
 {{ form_row(form.prix) }}
 {{ form_row(form.taille) }}
 {{ form_row(form.couleur) }}
 {{ form_row(form.description) }}
 {{ form_row(form.categories) }}
 {{ form_row(form.photo) }}
 {{ form_end(form) }}
 
</div>
{% endblock %}
